/*font-family: 'Quicksand', sans-serif;*/

/* #0098ff
#00c0ff
#63ebff
#b9ffff
#ffffff */

body {
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
}

header {
    background-color: white;
    display: flex;
    width: 100%;
    height: 85px;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

header .logo a img {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 5%;
    top: 25%;
}

header nav .navegador {
    display: flex;
    gap: 5%;
    list-style: none;
    position: absolute;
    width: 40%;
    height: 80px;
    left: 50%;
    top: 0%;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

header nav .navegador li a {
    font-style: normal;
    font-weight: 500;
    font-size: 139%;
    line-height: 100%;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.container-icon {
    position: relative;
}
.count-products{
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-cart {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 40px;
    height: 60px;
    stroke: white;
}
.icon-cart :hover {
    cursor: pointer;
}

main {
    position: absolute;
    width: 100%;
    height: 980px;
    left: 0px;
    top: 84.22px;
}

main .secUno {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: none;
    background-image: url(../assets/img/fondotit.jpg);
    position: absolute;
    width: 97%;
    height: 280px;
    left: 1.4%;
    top: 0.5%;
    display: flex;
    background-position: 50% 50%;
    background-size: cover;
}

main .secUno .secImguno img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 28%;
    top: 15%;
    opacity: none;
    display: flex;
}

main .secUno .secTit h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 400%;
    line-height: 100%;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    width: 25%;
    height: 10%;
    left: 47%;
    top: 25%;
}

main #secDos {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 350px;
}

main #secDos .clasUno {
    position: absolute;
    width: 100%;
    height: 100px;
}

main #secDos .clasUno h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 300%;
    line-height: 100%;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.2em;
    -webkit-animation: tracking-in-contract 4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
    animation: tracking-in-contract 4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
}
@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0; }
    40% {
        opacity: 0.6; }
    100% {
        letter-spacing: 0.2em;
        opacity: 1; } }

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0; }
    40% {
        opacity: 0.6; }
    100% {
        letter-spacing: 0.2em;
        opacity: 1; } }

main .secTres {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 450px;
}

main .secTres #carouselExample .carousel-inner .carousel-item .container-card {
    display: flex;
}

main .secTres #carouselExample .carousel-inner .carousel-item .card {
    margin: 0.5em;
    height: 400px;
    width: 350px;
    background-color: white;
    text-align: center;
}

main .secTres #carouselExample .carousel-inner .carousel-item .card .image-wrapper {
    width: 100%;  
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .secTres #carouselExample .carousel-inner .carousel-item .card .image-wrapper img {
    max-width: 50%;
    max-height: 100%;
}

main #secCuatro {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 900px;
}

main #secCuatro .clasUno {
    position: absolute;
    width: 100%;
    height: 100px;
}

main #secCuatro .clasUno h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 300%;
    line-height: 100%;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.2em;
    -webkit-animation: tracking-in-contract 4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
    animation: tracking-in-contract 4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
}
@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0; }
    40% {
        opacity: 0.6; }
    100% {
        letter-spacing: 0.2em;
        opacity: 1; } }

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0; }
    40% {
        opacity: 0.6; }
    100% {
        letter-spacing: 0.2em;
        opacity: 1; } }

main #secCuatro .clasDos {
    position: absolute;
    left: 13.5%;
    width: 70%;
    height: 650px;
    padding: 0;
    margin: 0;
}

main #secCuatro .clasDos form .formNos {
    position: absolute;
    width: 100%;
    height: 66.5%;
    left: 1%;
    top: 18%;
    background: black;
    opacity: 0.8;
    border-radius: 30px;
}

main #secCuatro .clasDos form .formNos .nosUnos {
    position: absolute;
    width: 43%;
    height: 15%;
    left: 5%;
    top: 11%;
    background: white;
    border-radius: 10px;
    text-align: center; 
}

main #secCuatro .clasDos form .formNos .nosDos {
    position: absolute;
    width: 43%;
    height: 15%;
    right: 5%;
    top: 11%;
    background: white;
    border-radius: 10px;
    text-align: center;
}

main #secCuatro .clasDos form .formNos .nosTres {
    position: absolute;
    width: 43%;
    height: 15%;
    left: 5%;
    top: 35.5%;
    background: white;
    border-radius: 10px;
    text-align: center;
}
        
main #secCuatro .clasDos form .formNos .nosCuatro {
    position: absolute;
    width: 43%;
    height: 15%;
    right: 5%;
    top: 35.5%;
    background: white;
    border-radius: 10px;
    text-align: center;
}

main #secCuatro .clasDos form .formNos .nosCinco {
    position: absolute;
    width: 90%;
    height: 31%;
    left: 5%;
    top: 60%;
    background: white;
    border-radius: 10px;
    text-align: center;
}

main #secCuatro .clasDos form .envNos {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 30px;
    position: absolute;
    width: 9%;
    height: 5%;
    left: 47.5%;
    top: 88.5%;
    background: white;
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 10%;
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
}

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0%;
    top: 1650px;
    display: flex;
    background-color: #ffffff;
    justify-content: center
}

footer div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer div .redesSociales {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

footer div .redesSociales li a img {
    width: 20px;
    height: 20px;
}

@media (max-width: 1024px) {
    header nav .navegador {
        left: 40%;
    }
    main .secUno .secImguno img {
        top: 15%;
    }
    main .secUno .secTit h1 {
        left: 49%;
        top: 30%;
        font-size: 300%;
        width: 30%;
    }
    main #secCuatro {
    top: 1250px;
    }
    footer {
        top: 1970px;
    }
}

@media (max-width: 768px) {
    header nav .navegador li a {
        font-size: 110%;
    }
    main .secUno .secImguno img {
        left: 20%;
    }
    main .secUno .secTit h1 {
        left: 46%;
        width: 37%;
    }
    main .secTres #carouselExample .carousel-inner .carousel-item .container-card {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    main #secCuatro {
        top: 1300px;
    }
    main #secCuatro .clasDos form .envNos {
        width: 15%;
        left: 44.5%;
        font-size: 90%;
    }
    footer {
        top: 2020px;
    }
}

@media (max-width: 425px) {
    header nav .navegador {
        left: 20%;
    }
    header nav .navegador li a {
        font-size: 90%;
    }
    main .secUno .secImguno img {
        top: 30%;
        left: 15%;
        width: 120px;
        height: 120px;
    }
    main .secUno .secTit h1 {
        left: 48%;
        top: 38%;
        font-size: 200%;
        font-weight: 700;
    }
    main #secDos {
        top: 310px;
    }
    main #secDos .clasUno h2 {
        font-size: 150%;
    }
    main .secTres {
        top: 350px;
    }
    main .secTres #carouselExample .carousel-inner .carousel-item .container-card {
        display: contents;
    }
    main .secTres #carouselExample .carousel-inner .carousel-item .card {
        height: 100%;
        width: 96%;
    }
    main #secCuatro {
        top: 1950px;
        height: 430px;
    }
    main #secCuatro .clasUno h2 {
        font-size: 150%;
    }
    main #secCuatro .clasDos {
        width: 98%;
        left: 0%;
        top: -10%;
        height: 450px;
    }
    main #secCuatro .clasDos form .envNos {
        top: 385px;
    }
    footer {
        top: 2410px;
    }
}